@using Capstone.Web.Models;
@model List<NationalPark>

@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/shared_layout.cshtml";
}

<section class="centeredPanel">

    <h2 class="home_header">Home Page</h2>

    <div>
        @foreach (NationalPark park in Model)
        {
        <div>
           <div>
                <a href="@Url.Action("ParkDetail", "Home", new { code = park.ParkCode })" >
                    <img src="@("/Content/img/parks/" + park.ParkCode.ToLower() + ".jpg")" class="home_img" />
               </a>
           </div>

           <div class="home_info">
                <div class="park_name">@park.ParkName</div>
                <div class="home_state">@park.State</div>
                <div class="home_description">@park.ParkDescription</div>
                <div></div>
                </div>
            <hr style="color: darkred;"/>
        </div>
            }
</div>

</section>