@using Capstone.Web.Models;
@model NationalPark

@{
    ViewBag.Title = "ParkDetail";
    Layout = "~/Views/Shared/shared_layout.cshtml";
}

<section class="centeredPanel">

    <img src="@("/Content/img/parks/" + Model.ParkCode.ToLower() + ".jpg")" class="detail_img"/>

    <div class="detail_name">
        @Model.ParkName
    </div>

    <div class="detail_quote">
        <p style="margin-top: 0px;"><i>"@Model.InspirationalQuote"</i> - @Model.InspirationalQuoteSource</p>
    </div>

    <div class="detail_info">
        <p>@Model.State | Climate: @Model.Climate</p>
        <p>Number of Campsites: @Model.NumberOfCampsites | Entry Fee: @(Convert.ToDecimal(Model.EntryFee).ToString("C"))</p>
    </div>

    <div class="detail_description">
        @Model.ParkDescription
        <p></p>
    </div>

    <table class="detail_table">
        <tr>
            <td>Year Founded: @Model.YearFounded</td>
        </tr>
        <tr>
            <td>Annual Visitors: @Model.AnnualVisitorCount.ToString("N0")</td>
        </tr>
        <tr>
           <td>Acreage: @Model.Acreage.ToString("N0")</td>
        </tr>
        <tr>
           <td>Elevation: @Model.ElevationInFeet.ToString("N0") feet</td>
        </tr>
        <tr>
            <td>Number of Animal Species: @Model.NumberOfAnimalSpecies.ToString("N0")</td>
        </tr>
        <tr>
            <td>Miles of Trail: @Model.MilesOfTrail.ToString("N0") miles</td>
        </tr>
    </table>

    <div class="weather_head">5 DAY WEATHER FORECAST:</div>

    <div class="five_day_forecast">
        <div class="big_weather_div">
            <p style="font-size: 35px; margin-bottom: 0px; margin-top: 0px;">TODAY</p>
            <img src="@("/Content/img/weather/" + Model.NextFiveDayWeather[1].Forecast + ".png")" class="weather_img"/>
            @if (Model.UnitOfTemperature == "Celsius")
            {
                <div class="high_low_div">
                <p class="weather_high">High: @Model.NextFiveDayWeather[0].FahrenheitToCelsius(Model.NextFiveDayWeather[0].High)°</p>
                <p class="weather_low">Low: @Model.NextFiveDayWeather[0].FahrenheitToCelsius(Model.NextFiveDayWeather[0].Low)°</p>
                </div>
            }
            else
            {
                <div class="high_low_div">
                <p class="weather_high">High: @Model.NextFiveDayWeather[0].High°</p>
                <p class="weather_low">Low: @Model.NextFiveDayWeather[0].Low°</p>
                </div>
            }
            <p class="recommend_div">Park Recomendations</p>
            <p class="advisory_text">@Model.NextFiveDayWeather[0].GetWeatherAdvisory(@Model.NextFiveDayWeather[0].Forecast)</p>
            <p class="advisory_text">@Model.NextFiveDayWeather[0].GetTempAdvisory(@Model.NextFiveDayWeather[0].High, @Model.NextFiveDayWeather[0].Low)</p>
        </div>

        <div class="four_days">
        @for (int i = 1; i < 5; i++)
        {
            <div small_weather_div>
                <img src="@("/Content/img/weather/" + Model.NextFiveDayWeather[i].Forecast + ".png")" class="small_weather_img" />
                @if (Model.UnitOfTemperature == "Celsius")
                {
                    <p class="weather_high">High: @Model.NextFiveDayWeather[i].FahrenheitToCelsius(Model.NextFiveDayWeather[i].High)°</p>
                    <p class="weather_low">Low: @Model.NextFiveDayWeather[i].FahrenheitToCelsius(Model.NextFiveDayWeather[i].Low)°</p>
                }
                else
                {
                    <p class="weather_high">High: @Model.NextFiveDayWeather[i].High°</p>
                    <p class="weather_low">Low: @Model.NextFiveDayWeather[i].Low°</p>
                }
            </div>
        }
        </div>

    <p style="font-size: 25px;">Current temperatures are in @Session["unitOfTemperature"]</p>
    @using (Html.BeginForm("ParkDetail", "Home", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.ParkCode, Model.ParkCode)

        <div>
            <label class="temp_label">Fahrenheit</label>
            @Html.RadioButtonFor(m => m.UnitOfTemperature, "Fahrenheit")
        </div>
        <div>
            <label class="temp_label">Celsius</label>
            @Html.RadioButtonFor(m => m.UnitOfTemperature, "Celsius")
        </div>
        <br />
        <button class="temp_button">Change Temperature</button>
        <div></div>
    }

</section>

