@using Capstone.Web.Models;
@model Survey

@{
    ViewBag.Title = "SurveyView";
    Layout = "~/Views/Shared/shared_layout.cshtml";
}

<section class="centeredPanel">

    <h2 class="survey_header">Survey</h2>

    <p class="survey_detail">To help us better our National Parks, please fill out a quick survey detailing your recent experience!</p>

    @using (Html.BeginForm("SurveyView", "Home", FormMethod.Post))
    {
        <div class="formInputGroup">
            <label class="survey_label">Favorite National Park: </label>
            <br />
            @Html.DropDownListFor(m => m.ParkCode, Model.ValidParkCodes)
        </div>

        <div class="formInputGroup">
            <label class="survey_label">Your email: </label>
            <br />
            @Html.TextBoxFor(m => m.EmailAddress)
        </div>

        <div class="formInputGroup">
            <label class="survey_label">State of Residence: </label>
            <br />
            @Html.TextBoxFor(m => m.State)
        </div>

        <div class="button_div">
            <div class="button_label">Activity Level: </div>
            <div class="all_buttons">
            @Html.RadioButtonFor(m => m.ActivityLevel, "Inactive", false)<div class="survey_button">Inactive</div>
            @Html.RadioButtonFor(m => m.ActivityLevel, "Sedentary", false)<div class="survey_button">Sedentary</div>
            @Html.RadioButtonFor(m => m.ActivityLevel, "Active", false)<div class="survey_button">Active</div>
            @Html.RadioButtonFor(m => m.ActivityLevel, "Extremely Active", false)<div class="survey_button">Extremely Active</div>
            </div>
        </div>

        <button style="margin-bottom: 20px;">Submit</button>
    }
</section>